@import url(./fonts.css);

:root {
    --fm-1: "Montserrat";
    --fm-2: "Comfortaa";
    --fm-3: "Roboto";
    --primary-color: #F18128;
    --link-color:#ED8E00 ;
    --white : #fff;
    --darkblue: #040D1F;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   font-family: var(--fm-1);
   background: var(--darkblue);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding:  0 15px;
    margin:  0 auto;
}
.all-btn {
    max-width: 166px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000;
    display: inline-block;
    padding: 17px 0 ;
    text-align: center;
    color: #000;
    transition: .5s;
    font-family: var(--fm-3);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;

}
.all-btn:hover{
   background: var(--darkblue);
   color: var(--white);
}
.title {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 400;
  font-family: var(--fm-2);
  border-bottom: 2px solid var(--primary-color);
  width: max-content;
  text-transform: capitalize;
}